@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/placeholders';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
	padding-inline-start: unset;
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	margin: unset;
	font-size: 24px;
	font-weight: 500;
}

button {
	border-width: unset;
	border-style: unset;
	padding: unset;
}

@media screen and (max-width: 768px) {
	body {
		margin-top: 10px;
		margin-inline: 10px;
	}
}

@media screen and (max-width: 900px) {
	body {
		margin-top: 25px;
		margin-inline: 6%;
	}
}

@media screen and (min-width: 900px) {
	body {
		margin-top: 40px;
		margin-inline: 10%;
		max-width: 1440px;
	}
}

a {
	cursor: pointer;
	z-index: 100; // necessary for card links for example
	color: $main-color;
	text-decoration: unset;
}

i {
	font-style: unset;
}
