@import '../../sass/main.scss';

.nav-list {
	height: 100%;
	display: flex;
	align-items: center;
	gap: calc(10px + 2vw);

	&__item {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: calc(12px + 0.8vw);

		&::after {
			z-index: 1000;
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -3px;
			left: 0;
			background: $main-color;
			transition: width 0.3s;
		}
	}

	&__item {
		&:hover {
			&::after {
				width: 100%;
			}
		}

		&--active {
			&::after {
				width: 100%;
			}
		}
	}
}

// .test__font {
// 	&--1 {
// 		font-size: 12px;
// 	}

// 	&--2 {
// 		font-size: 24px;
// 	}
// }
