@import '../../sass/main.scss';

// .gallery {
// 	background-color: $main-grey;
// 	border-radius: 25px;
// 	padding: 50px;
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-items: center;
// 	justify-content: center;
// 	gap: 50px;
// }

.gallery {
	padding: 50px;
	background-color: $main-grey;
	border-radius: 25px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	gap: 50px;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		padding: 40px;
		gap: 40px;
	}

	@media screen and (max-width: 576px) {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); // 1 card per row
		// padding: 20px;
		// gap: 20px;
	}
}
