@import '../../sass/main.scss';

banner-main {
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	@include flex();
	aspect-ratio: 3/1;
	// margin: 10px 0;

	@media screen and (min-width: 600px) {
		aspect-ratio: 4/1;
		// margin: 20px 0;
	}

	@media screen and (min-width: 1100px) {
		aspect-ratio: 6/1;
	}

	& img {
		border-radius: 15px;
		object-fit: cover;
		filter: brightness(0.7);
		width: 100%;
		height: auto;
	}

	& h1 {
		position: absolute;
		padding-inline: 5%;
		color: white;
	}

	& .banner--about {
		aspect-ratio: 4/3;
		@extend banner-main;

		@media screen and (min-width: 600px) {
			aspect-ratio: 7/3;
		}

		@media screen and (min-width: 900px) {
			aspect-ratio: 7/2;
		}

		@media screen and (min-width: 1100px) {
			aspect-ratio: 5/1;
		}
	}
}
